{% extends 'base.html.twig' %}

{% block title %}Edit a category - {{ parent() }}{% endblock %}

{% block body %}

    <h1 class="mb-2 mt-4 h4">Editing a category</h1>

    {{ form_start(categoryForm, {'attr': {'class': 'd-flex flex-column mb-4'}}) }}
    {{ form_end(categoryForm) }}

{% endblock %}
