{% extends 'base.html.twig' %}

{% block title %}Edit a product - {{ parent() }}{% endblock %}

{% block body %}

    <h1 class="mb-2 mt-4 h4">Edit a product</h1>

    {{ form_start(productForm, {'attr': {'class': 'd-flex flex-column mb-4'}}) }}
    {{ form_end(productForm) }}

{% endblock %}
